:root{
  margin:0;
  padding: 0;
}

main {
  width: 900px;
  height: 900px;
  position:relative;
}

.XOSelect {
  position: fixed;
  top: 50%;
  left: calc(50% - 200px);
}
.XOSelect > * {
  padding: 20px 40px;
}

.gameBoard {
  display: none;
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  background-color: black;
}
.gameBoard > * {
  height: 200px;
  background-color: #fff;
  font-size: 64px;
  font-family: Helvetica, Arial, sans-serif;
}